# GODIL40 .ucf sample 
# godil40 timing contraints 
#NET m49 PERIOD = 20.34505 ns ;
#OFFSET = IN 10 ns BEFORE m49 ;
#OFFSET = OUT 10 ns AFTER m49 ; 
#TIMESPEC TS_P2P = FROM PADS TO PADS 10 ns ;

 # inputs only 

 NET fpgaclk LOC=P89 | IOSTANDARD = LVTTL | PERIOD = 20.34505ns ;
 #NET fpgaclk CLOCK_DEDICATED_ROUTE=FALSE;
 #NET sw1 LOC=P39 | IOSTANDARD = LVTTL ;
 #NET sw2 LOC=P69 | IOSTANDARD = LVTTL | PULLUP ;

 #NET d13 LOC=P88 | IOSTANDARD = LVTTL | PULLUP ;
 #NET sout LOC=P13 | IOSTANDARD = LVTTL | PULLUP ;
 #NET rts LOC=P30 | IOSTANDARD = LVTTL | PULLUP ;

 # I/O's for uart & spi flash 
 #NET sin LOC=P43 | IOSTANDARD = LVTTL ;
 #NET cts LOC=P25 | IOSTANDARD = LVTTL ;
 #NET cso LOC=P24 | IOSTANDARD = LVTTL ;
 #NET vs2 LOC=P47 | IOSTANDARD = LVTTL ;

 # I/O's for test connector
 #NET tvs1 LOC=P48 | IOSTANDARD = LVTTL | DRIVE=16 ;
 #NET tvs0 LOC=P49 | IOSTANDARD = LVTTL | DRIVE=16 ;
 #NET tmosi LOC=P27 | IOSTANDARD = LVTTL | DRIVE=16 ;
 #NET tdin LOC=P44 | IOSTANDARD = LVTTL | DRIVE=16 ;
 #NET tcclk LOC=P50 | IOSTANDARD = LVTTL | DRIVE=16 ;
 #NET tm1 LOC=P42 | IOSTANDARD = LVTTL | DRIVE=16 ;
 #NET thsw LOC=P99 | IOSTANDARD = LVTTL | DRIVE=16 ;

 # I/O's for DIL / main connector 

 #NET pin_a2 LOC=P15 | IOSTANDARD = LVTTL | PULLUP ;
 # The pins above aren't related to the 40 pin DIP; they can be used
 # for extraneous I/O or configuration.

 
 #NET GND LOC=P16 | IOSTANDARD = LVTTL ;
 NET nNMI LOC=P95 | IOSTANDARD = LVTTL ;
 NET nIRQ LOC=P18 | IOSTANDARD = LVTTL ;
 NET nFIRQ LOC=P17 | IOSTANDARD = LVTTL ;
 NET BS LOC=P94 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6;
 NET BA LOC=P22 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<0> LOC=P33 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<1> LOC=P32 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<2> LOC=P34 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<3> LOC=P40 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<4> LOC=P41 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<5> LOC=P36 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<6> LOC=P35 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<7> LOC=P53 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<8> LOC=P54 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<9> LOC=P57 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<10> LOC=P58 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<11> LOC=P60 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 NET A<12> LOC=P61 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=6 ;
 #NET IRnW LOC=P62 | IOSTANDARD = LVTTL ;
 #NET pin_c25 LOC=P63 | IOSTANDARD = LVTTL ;
 #NET pin_d1 LOC=P91 | IOSTANDARD = LVTTL ;
 #NET pin_b2 LOC=P12 | IOSTANDARD = LVTTL ;
 NET nHALT LOC=P11 | IOSTANDARD = LVTTL ;
 NET TSC LOC=P10 | IOSTANDARD = LVTTL ;
 NET LIC LOC=P9 | IOSTANDARD = LVTTL ;
 NET nRESET LOC=P90 | IOSTANDARD = LVTTL ;
 NET AVMA LOC=P5 | IOSTANDARD = LVTTL ;
 NET Q LOC=P4 | IOSTANDARD = LVTTL ;
 NET E LOC=P2 | IOSTANDARD = LVTTL ;
 NET BUSY LOC=P3 | IOSTANDARD = LVTTL ;
 NET RnW LOC=P98 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<0> LOC=P92 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<1> LOC=P85 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<2> LOC=P79 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<3> LOC=P78 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<4> LOC=P83 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<5> LOC=P84 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<6> LOC=P86 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET D<7> LOC=P71 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET A<15> LOC=P70 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET A<14> LOC=P68 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;
 NET A<13> LOC=P67 | IOSTANDARD = LVTTL | SLEW=SLOW | DRIVE=4 ;

 #NET IRQCopy LOC=P65 | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=6 ;


 # The pins below aren't related to the 40 pin DIP; they can be used
 # for extraneous I/O or configuration.
 #NET EBus LOC=P66 | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=6 ;
 
 
