

NET "blue[0]" LOC = P6;
NET "blue[1]" LOC = P5;
NET "blue[2]" LOC = P2;
NET "blue[3]" LOC = P1;
NET "green[0]" LOC = P10;
NET "green[1]" LOC = P9;
NET "green[2]" LOC = P8;
NET "green[3]" LOC = P7;
NET "red[0]" LOC = P15;
NET "red[1]" LOC = P14;
NET "red[2]" LOC = P12;
NET "red[3]" LOC = P11;
NET "hsync" LOC = P16;
NET "vsync" LOC = P17;
NET "ps2_clk" LOC = P24;
NET "ps2_data" LOC = P26;


NET "OSCCLK" LOC = P21;



NET "blue[3]" IOSTANDARD = LVCMOS33;
NET "blue[2]" IOSTANDARD = LVCMOS33;
NET "blue[1]" IOSTANDARD = LVCMOS33;
NET "blue[0]" IOSTANDARD = LVCMOS33;
NET "green[3]" IOSTANDARD = LVCMOS33;
NET "green[2]" IOSTANDARD = LVCMOS33;
NET "green[1]" IOSTANDARD = LVCMOS33;
NET "green[0]" IOSTANDARD = LVCMOS33;
NET "red[3]" IOSTANDARD = LVCMOS33;
NET "red[2]" IOSTANDARD = LVCMOS33;
NET "red[1]" IOSTANDARD = LVCMOS33;
NET "red[0]" IOSTANDARD = LVCMOS33;
NET "OSCCLK" IOSTANDARD = LVCMOS33;

NET "hsync" IOSTANDARD = LVCMOS33;
NET "vsync" IOSTANDARD = LVCMOS33;
NET "ps2_clk" IOSTANDARD = LVCMOS33;
NET "ps2_data" IOSTANDARD = LVCMOS33;

NET "an[0]" LOC = P126;
NET "an[1]" LOC = P127;
NET "an[2]" LOC = P111;
NET "an[3]" LOC = P112;
NET "sseg[0]" LOC = P116;
NET "sseg[1]" LOC = P114;
NET "sseg[2]" LOC = P117;
NET "sseg[3]" LOC = P118;
NET "sseg[4]" LOC = P119;
NET "sseg[5]" LOC = P121;
NET "sseg[6]" LOC = P115;
NET "sseg[7]" LOC = P123;


NET "an[0]" IOSTANDARD = LVCMOS33;
NET "sseg[7]" IOSTANDARD = LVCMOS33;
NET "sseg[6]" IOSTANDARD = LVCMOS33;
NET "sseg[5]" IOSTANDARD = LVCMOS33;
NET "sseg[4]" IOSTANDARD = LVCMOS33;
NET "sseg[3]" IOSTANDARD = LVCMOS33;
NET "sseg[2]" IOSTANDARD = LVCMOS33;
NET "sseg[1]" IOSTANDARD = LVCMOS33;
NET "sseg[0]" IOSTANDARD = LVCMOS33;
NET "an[2]" IOSTANDARD = LVCMOS33;
NET "an[1]" IOSTANDARD = LVCMOS33;
NET "an[3]" IOSTANDARD = LVCMOS33;

